{% extends "base.html" %}
{% block title %}Новый заказ{% endblock %}
{% block content %}
{% load user_filters %}
  {% with request.resolver_match.view_name as view_name %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header"> 
                {% if view_name  == 'orders:order_create' %}
                Новый заказ
                {% else %}
                Редактировать заказ
                {% endif %}               
              </div>
              <div class="card-body">
                {% if view_name  == 'orders:order_create' %}        
                  <form method="post" enctype="multipart/form-data" action="{% url 'orders:order_create' %} ">
                {% else %}
                  <form method="post" enctype="multipart/form-data">
                {% endif %}
                  {% csrf_token %}
                  {% for line in form %} 
                  <div class="form-group row my-3 p-3">
                    {{ line.label }}
                    {{ line|addclass:'form-control' }}
                  </div>
                  {% endfor %}            
                  {% comment %} <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Group                  
                    </label>
                    {{ form.author}}
                    {{ form.group|addclass:'form-control' }}
                      <small class="form-text text-muted">
                        {{ form.group.help_text }}
                      </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_image">
                      Image                  
                    </label>
                    {{ form.image|addclass:'form-control' }}
                      <small class="form-text text-muted">
                        {{ form.image.help_text }}
                      </small>
                  </div> {% endcomment %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if view_name  == 'orders:order_create' %}
                        Заказать
                      {% else %}
                        Сохранить
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endwith %}
{% endblock %}


