{% extends 'base.html' %}
{% block title %}
  Список заказов
{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      {% for order in orders %}
        <h1>{{ order }}</h1>
          <article>
            <ul>
              <li>
                Автор: {{ order.author }}
              </li>
              <li>
                Водитель: {{ order.driver}}
              </li>
              <li>
                Город: {{ order.city }}
              </li>
              <li>
                Адрес: {{ order.address }}
              </li>
              <li>
                Аэропорт: {{ order.airport }}
              </li>
              <li>
                Дата подачи: {{ order.date }}
              </li>
              <li>
                Время подачи: {{ order.time}}
              </li>
              <li>
                Время вылета: {{ order.departure_time}}
              </li>
              <li>
                Номер рейса: {{ order.flight_number}}
              </li>
              <li>
                Телефон: {{ order.telephone }}
              </li>
            </ul> 
            <p>
              Комментарий: {{ order.comment }}
            </p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
