{% extends 'base.html' %}
{% block title %}Заказ {{ order|truncatechars:30 }}{% endblock %}
{% block content %}
  <main>
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Пользователь: {{ order.author.username }}<br>
            Номер заказа: 0001
          </li>
          {% for label in form %}
              <li class="list-group-item">
                {% if label.label == 'Маршрут' %}
                  {{ label.label }}:
                  {{ order.route }}
                {% else %}
                  {{ label.label }}:
                  {{ label.value }}
                {% endif%}
              </li>
          {% endfor %}
            <li class="list-group-item">
              <a href="{% url 'users:profile' username=order.author.username %}">
                Все заказы пользователя
              </a>
            </li>
          {% if order.author == user %}
            <li class="list-group-item">
              <a href="{% url 'orders:order_edit' order.pk %}">
                <button type="button" class="btn btn-success btn-sm">
                  Редактировать заказ
                </button>
              </a>
              <a href="{% url 'orders:order_delete' order.pk %}">
                <button type="button" class="btn btn-danger btn-sm">
                  Отменить заказ
                </button>
              </a>
            </li>
          {% endif %}
        </ul>
      </aside>
    </div> 
  </main>
{% endblock %}
    